{% extends 'base.html' %}

{% block title %}Раздел 3{% endblock %}
{% block up %}Лабораторная работа №4{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <div class="content">
            <p>Предложить пользователю ввести текст в textarea. Показать статистику по тексту: количество абзацев,
                знаков, слов, предложений и т. д.</p>
            <form method="POST">
                <textarea name="text" rows="10" cols="100">{{ text }}</textarea>
                <br><br>
                <input type="submit">
            </form>
            {% if c %}
            <table class="table">
                <thread>
                    <tr>
                        <th>Название</th>
                        <th>Прямой перебор</th>
                        <th>Регулярные выражения</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td>Длинна текста</td>
                        <td>{{ c.text_len }}</td>
                        <td>{{ c.text_len }}</td>
                    </tr>
                    <tr>
                        <td>Количество слов</td>
                        <td>{{ c.words }}</td>
                        <td>{{ c.re_words }}</td>
                    </tr>
                    <tr>
                        <td>Количество цифр и букв</td>
                        <td>{{ c.digits_and_nums }}</td>
                        <td>{{ c.re_digits_and_nums }}</td>
                    </tr>
                    <tr>
                        <td>Количество предложений</td>
                        <td>{{ c.sentences }}</td>
                        <td>{{ c.re_sentences }}</td>
                    </tr>
                    <tr>
                        <td>Количество абзацев</td>
                        <td>{{ c.paragraphs }}</td>
                        <td>{{ c.re_paragraphs }}</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}