{% extends 'base.html' %}

{% block title %}Раздел 1{% endblock %}
{% block up %}Лабораторная работа №4{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <style>
            body {
                margin: 0;
            }

            .header h1 {
                background-color: #eee;
                padding: .6em;
                margin-bottom: 0.3em;
            }

            .header a {
                text-decoration: none;
            }

            .menu {
                padding-left: 1em;
            }

            .menu a {
                display: inline-block;
                padding: 0.2em;
                border: 1px solid gray;
                color: white;
                background-color: #555;
                text-decoration: none;
            }

            .content {
                padding: 0 1em;
            }
        </style>
        <script type="text/javascript" nonce="3ba7f6bf607c4c6fac1d398ccb9"
            src="//local.adguard.org?ts=1572348486976&amp;type=content-script&amp;dmn=web-2019-lab5.std-900.ist.mospolytech.ru&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1"></script>
        <script type="text/javascript" nonce="3ba7f6bf607c4c6fac1d398ccb9"
            src="//local.adguard.org?ts=1572348486976&amp;name=AdGuard%20Popup%20Blocker&amp;name=AdGuard%20Assistant&amp;name=AdGuard%20Extra&amp;type=user-script"></script>
        </head>

        <h1>http://2019-python-lab4.std-868.ist.mospolytech.ru/</h1>
        <p>Учимся работать с обработкой HTML-форм, часть 2. Метод POST. Обработка пользовательского ввода. Вывод
            сообщений об ошибках.</p>

    </div>

</div>
</div>
{% endblock %}