body {
    background-image: url(../img/bg.jpg);
    margin: 0;
}
.header h1 {			
    background-color: #eee;
    padding: .6em;
    margin-bottom: 0.3em;
}
.header a {
    text-decoration: none;
}
.menu {
    padding-left: 1em;
}
.menu a {
    display: inline-block;
    padding: 0.2em;
    border: 1px solid gray;
    color: white;
    background-color: #555;
    text-decoration: none;
}
.content {
    padding: 0 1em;
}

#header {
    background: rgb(209, 207, 207);
    margin: 0 15% 0 15%;
}

#nav {
    margin: 0 15% 0 15%;
    background: rgb(209, 207, 207);
    border: dotted;
    border-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main {
    border: solid;
    margin: 0 15% 0 15%;
    background: rgba(209, 207, 207);
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* font-family: Calibri; */
}
