{% extends 'base.html' %}

{% block title %}Раздел 1{% endblock %}
{% block up %}Лабораторная работа №2{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <h1>Вывод аргуметов</h1>
        <table class="table table-sm table-bordered">
            <tr>
                <th>Имя</th>
                <th>Значение</th>
            </tr>
            {% for key, value in request.args.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}