{% extends 'base.html' %}

{% block title %}Раздел 3{% endblock %}
{% block up %}Лабораторная работа №2{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <h1>Вывод Form</h1>
        <form method="POST" action="">
            <input type="text" name="key1" value="{{request.form.get('key1', '') }}">
            <input type="text" name="key2" value="{{request.form.get('key2', '') }}">>
            <input type="submit">
        </form>
        <br>
        {% if request.form %}
        <table class="table table-sm table-bordered">
            <tr>
                <th>Имя</th>
                <th>Значение</th>
            </tr>
            {% for key, value in request.form.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}