{% extends 'base.html' %}

{% block title %}ID 1{% endblock %}
{% block up %}Лабораторная работа №5{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <h2 class="text-center">Пользователи</h2>
        <table class='table'>
            <tbody>
                <tr>
                    <td>Фамилия</td>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td>{{ user.middlename }}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}